<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="Antlr4" version="4.2.0-alpha001" targetFramework="net45" />
  <package id="Antlr4.Runtime" version="4.2.0-alpha001" targetFramework="net45" />
  <package id="Moppet.Lapa" version="1.2.3" targetFramework="net45" />
</packages>